/* Scene06 - Photo fade transition */
/* Scene container */
.scene06 {
  position: relative;
  width: 100vw;
  min-height: 250vh; /* Scrollable space for fade transition */
  overflow: hidden;
}

/* Fullscreen background - initial image (1photowow.png) */
.scene06__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 700; /* Above Scene05 */
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.scene06__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Photo overlay - fades in on top of background (photowow.png) */
.scene06__photo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 701; /* Above background */
  opacity: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

