.scene03b {
  min-height: 200vh;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.scene03b-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  will-change: transform;
}

.scene03b-image {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-out;
  position: relative;
}

.scene03b-image.visible {
  opacity: 1;
}

.morph-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.morph-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.morph-a {
  opacity: 1;
  z-index: 1;
}

.morph-a.fade-out {
  opacity: 0;
}

.morph-b {
  opacity: 0;
  z-index: 2;
  transform: scale(1.02);
}

.morph-b.fade-in {
  opacity: 1;
  transform: scale(1);
}
